<% provide(:title, 'All collections') %>
<div class="container">
			<h1>Collections</h1>
				<h4>Videos grouped by theme or topic</h4>

			<% form_tag collections_path, :method => 'get' do %>
				<p>
					<%= text_field_tag :search, params[:search] %>
					<%= submit_tag "Search", :name => nil %>
				</p>
		<% end %>

			<%= link_to "Create Collection", new_collection_path, class: "submit-btn	" %>

			<div class="row">
					<% @collections.each do |collection| %>
						<div class="col-md-3 collection">
						<h3><%= link_to collection.title, collection_path(collection) %></h3>
						</div>
						<% end %>
				</div>
</div> 
	



