<% provide(:title, @collection.title) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @collection.title %>
			</h1>
			<h2>
				<%= @collection.description %>
			</h2>
			<h3>
				<%= image_tag @collection.image %>
			</h3>

		</section>
	</aside>
</div>