<% provide(:title, @user.comment.blog) %>
<div class="container">
	<div class="row">
		<aside class="span4">
			<section>
				<h1><%= @user.comment.blog %></h1>
			</section>
		</aside>
	</div>
</div>
