<div class="container">
	<div class='text-center'> 
	    <h2>Most Popular Videos</h2>

		<% @videos.each do |video| %>
		    <%= link_to video.title, video_path(video) %><br/>
		<% end %>
	</div>
</div> 