<div class="jumbotron">
  <div class="container">
  	<% if signed_in? %>
   	<h1>Welcome to Viddo!</h1>
   	<h3>Curate a collection of the world's best videos.</h3>
		 <%= link_to "Discover Videos", discover_path, class: "btn btn-primary btn-lg" %>
	<% else %>
	<h1>Welcome to Viddo!</h1>
		<h4>Curate a collection of the world's best videos.</h4>
		 <%= link_to "Sign up now!", signup_path, class: "btn btn-primary btn-lg" %>
	<% end %>
  </div>
</div>
