<% provide(:title, 'Join Us') %> 
<h1>Join Us!</h1>
<p>
	We are always looking for high-potential candidates to join our company. We have a culture of high performance, leadership, commitment to society and a relentless passion for getting things done. Please watch this section for specific job postings, or alternatively email your CV (curriculum vitae) to jobs@viddo.com
</p>