body {
    font: 16px 'Helvetica Neue', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    
}

a {
    color: #555;
    &:hover {
        color: #888;
        text-decoration: none;
    }
}

/* Typography */

/* Button */
.button {
    background: #FF4E50;
    color: #fff;
    border-radius: 1px;
    margin-top: 1em;
    padding: 1em 2em;
    &:hover {
        color: #fff;
    }
}

.navbar-default .navbar-nav > li > a {
    color: #FF3D00;
    font-weight: 700;
}

.navbar {
    background: #EEE657;
    height: 210px;
    box-shadow: 0;
    border: 0;
    border-radius: 0;
    .navbar-brand {
        color: #fff;
        font-weight: 700;
    }
}

/* Footer */
.footer {
    background: #f2f1f1;
    min-height: 280px;
    padding: 2em 0;
    margin-top: 10em;

    ul {
        li {
            display: inline-block;
            text-decoration: none;
            a {
            color: #555;
                &:hover {
                    color: #fff;   
                }
            }

        }
    }
}
