body {
    font: 16px 'Helvetica Neue', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    
}

.navbar {
    box-shadow: 0;
    border: 0;
    border-radius: 0;
    ul {
        li{
            a {
                color: #ECF7C1;
                text-shadow: none;
            }
        }
    }
}

